body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 200%;
  font-weight: 550;
  line-height: 1.5;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 120%;
  }
  #slogan {
    font-size: 100%;
  }
  .readMoreBtn {
    margin-bottom: 3%;
  }
  /* .mapouter {
    width: 80%;
    height: 80%;
  } */
  #slogan {
    display: none;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 150%;
}

p {
  text-align: center;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

/* navigation */
#title {
  padding: 1% 3% 1% 3%;
}
.nav-item {
  font-size: large;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* text overlay carousel */
.moto {
  z-index: 1;
  position: absolute;
  color: white;
  text-align: end;
  top: 70%;
  left: 25%;
  right: 7%;
  bottom: 0%;
}
#slogan {
  font-family: "Lobster", "Pacifico", "Montserrat", sans-serif;
  font-size: 250%;
  width: 100%;
}

/* carousel */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 5vw;
  font-weight: 500;
  color: #383838b9;
  background-color: rgba(245, 245, 245, 0.603);
  border-radius: 8px;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 5vw;
  font-weight: 500;
  color: #383838b9;
  background-color: rgba(245, 245, 245, 0.603);
  border-radius: 8px;
}

.carousel-control-prev-icon:after:hover {
  background-color: whitesmoke;
}

.carousel-control-next-icon:after:hover {
  background-color: whitesmoke;
}

.carousel .carousel-item {
  height: 30em;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

.carousel-item {
  top: 0;
  left: 0;
}
/* line */

.hlTop {
  display: block;
  height: 5px;
  width: 85%;
  border: 0;
  border-top: 7px solid rgb(219, 55, 55);
  margin: 1em 0;
  padding: 0;
}

/* sections */
.icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 3%;
}

.list {
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
}

.photo {
  height: 70%;
  width: 70%;
}

/*section-why choose us*/

.container-whyUs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-whyUs {
  background-color: white;
  margin: 5px;
  width: 250px;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  box-shadow: 4px grey;
  @media screen and (max-width: 992px) {
    body {
      width: 350px;
    }
  }
}

.card-whyUs h2 p {
  padding: 10px;
  margin: 10px;
}

.card-img-whyUs {
  background-size: cover;
  border-radius: 15px 15px 15px 15px;
  height: 200px;
  margin-bottom: 5px;
  border-color: white;
  box-shadow: 40px white;
}

.whyUs-btn {
  margin-top: 10px;
  justify-content: center;
}

.whyUs-p {
  margin: 10px;
}

.card-whyUs button {
  margin: 10px;
  text-align: center;
}

#more1,
#more2,
#more3,
#more4 {
  display: none;
}
.readMoreBtn {
  display: flex;
  text-decoration: none;
  background-color: rgb(212, 209, 209);
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 5px, 0px, 5px;
  margin-left: 30%;
  border-radius: 4px;
  box-shadow: 20px#555;
}

.readMoreBtn:hover {
  background-color: rgba(139, 139, 139, 0.904);
}

#iconWhyWe {
  padding-bottom: 3%;
}

/* section about myself */
.col-lg-6 p {
  line-height: 2;
}

/* section-testimonials*/
.testimonial {
  padding-top: 30px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.star {
  color: #ff523b;
}

.testimoninial-name {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*section-contacts*/
.gmap_canvas {
  overflow: hidden;
  background: none;
  height: 100%;
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.gmap_canvas iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.mapouter {
  position: relative;
  height: 500px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* social media  buttons */
.fa,
.fab {
  padding: 5px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-whatsapp-square {
  background-color: green;
  color: white;
}

.smIcons {
  align-items: center;
  text-align: center;
}

/* general layout */
.container {
  padding: 3% 5% 3% 5%;
}

/* sections color */
.containerColor {
  background-color: #78a2c1;
  padding: 5% 0% 5% 0%;
}

.containerColor h2 {
  color: white;
}

.containerColor .icon {
  color: white;
}

.container _tm-header {
  padding: 3%, 5%, 3%, 5%;
}

/* scroll-up button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 110, 255, 0.883); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px, 0px, 5px, 0px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 60px; /* Increase font size */
  font-weight: bold;
  font-family: "Merriweather", serif;
  margin: 50px auto;
  width: 60px;
  height: 60px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* footer section */
.footer {
  background: rgb(53, 52, 52);
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1 .footer-col-2 .footer-col-3 .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 img {
  width: 140px;
  margin-bottom: 20px;
}

.footer-col-3 .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}
